#top{
    background-color: orange;
    padding: 5px;
   
}

*{
    margin:0;
}

#ai{
    color: white;
}

#songName{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    background-color: red;
    font-size: 15px;
    font-style: bold;
    color: white;
    border-radius:5px;
}

body {
    background-size: cover;
}

#webcam{
    height: 500px;
    width: 500px;
    background-color: black;
    margin-top:10px;
    border-radius:30px;
    border: solid 10px white;
    box-shadow: 5px 10px cyan;
}

canvas{
    height: 500px;
    width: 500px;
    background-color: black;
    margin-top:100px;
    border-radius:30px;
    border: solid 10px white;
    box-shadow: 5px 10px cyan;
}